.full-width {
  width: 100%;
}

body {
  background-image: url('../../assets/Dark_background_1920x1080.png');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Carregando {
  margin: 0 auto;
}
.mat-raised-button {
  line-height: 36px;
  height: 36px;
}
.mat-spinner circle {
  stroke: #fff !important;
}
